/* General rules */
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.main_header{
    background-color: #e5e4e2;
}

ul{
    list-style: none;
}

.background{
    position: absolute;
    z-index: -1;
    right: 0;
}

/*------- Styling for header ----------*/


/*-------------------Styling the nav bar-------------- */


.nav_bar ul{
    /* cuts the edges of all ul's border inside nav bar and
    aligns its elements at the center of the nav-block */
    border-radius: 30px;
    text-align: center; 
}

.nav_bar>ul{
    display: inline-block;
    background-color: #e5e4e2;
}


.nav_bar a{
    /* for all anchors in the nav bar it revokes their design
    applies black color and changes font-weight */
    text-decoration: none;
    color:#241e1e;
    font-weight:500;
}


.nav_bar a:hover{
    /* hovering over an anchor tag inside of an element that has the 
    nav bar class changes the background color to black and the text-color
    to white. Also the black background will have cut edges */
    background-color:#241e1e;
    color: white;
    border-radius:30px ;
    
}

.nav_bar a:active{
    /* when you click on an anchor tag inside an element with the nav_bar
    class the font-size increases to 1.2 times the size it was */
    font-size: 1.2em;
}


/* nav-bar position */

.nav_bar{
    /* applies some margin to the nav bar so we space out the other 
    body elements from it */
    margin-bottom: 100px;
    
}

.nav_bar ul li{
    /* all the list elements that are inside of all the lists that */
    display: inline-block;
}


/* drop-down menu */

.drop-down-1{
    display: inline-block;
}

.sub-menu-1{
    display: none;
    background-color: #e5e4e2d5;

}

.drop-down-1:hover .sub-menu-1{
    display: block;
    position: absolute;
    padding-top: 5px;

}

.sub-menu-2{
    display: none;
    background-color:#e5e4e2; 
}

.drop-down-2:hover .sub-menu-2{
    display:block;
    position: absolute;
    padding-top: 5px;
}




/* ------------------Styling the logo----------------*/

.logo{
    padding: 10px;
}


.logo img{
    display: block;
    position: flex;
    height: 25px;
    width: 25px;
}


.logo>h1,.logo>h2{
    color:#241e1e;
    float: left;
}

/* ----------------------Styling for main ---------------------- */
.main_article{
    display: inline-block;
    background-color: rgb(250, 250, 250);
    text-align: center;
    border:1px solid black;
    border-radius: 30px;
    margin:20px;
}

.main_article:hover{
    box-shadow: 5px 5px 10px  #a09f9f;
    
}

.main_article img {
    height: 200px;
    width: 200px;
    border-radius: 30px;
}

.main_article a {
    color: rgb(0, 140, 140);
    
}

.main_article a:hover{
    font-weight: 500;
}




/* ------------Styling for footer ----------------*/

#footer{
    background-color:#f0efef;
    text-align: center;
}

#footer a {
    text-decoration: none;
    color: #241e1e;
}

#footer address a:hover {
    font-weight: 500;
}

#footer address a:active{
    font-size: 1.2em;
}


.footer_img{
    height: 50px;
    width: 50px;
}



/* ----------------------------Styling for index html----------------------- */





/* ----------------------------Positioning for index html----------------------- */
