/* General rules */
@font-face {
    font-family: 'Poppins';
    src: url(../resources/font/Poppins-Light.ttf);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url(../resources/font/Poppins-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url(../resources/font/Poppins-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url(../resources/font/Poppins-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url(../resources/font/Poppins-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url(../resources/font/Poppins-Black.ttf);
    font-weight: 800;
    font-style: normal;
}


/* To display our locally saved font for their respective font-weight and font-style */

:root{
    /* so that it is easier to change the main colors */
    --nav-color:#bcd2e8;
    --body-mid:#2e5984;
    --footer-color:#5e86b7c0;
    --header-text:#014462;
    --link-color:rgb(0,140,140);
    --no-color:rgba(255, 255, 255, 0);
    --smoky-black:#241e1e;
    --article-color:rgba(250, 250, 250, 0.5);
    --hover-shadow:#014362d5;
}


* {
    /* makes laying out the content easier */
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}



ul {
    list-style: none;
}


body {
    /* I set display flex + flex-direction colum so that i make the body container
    (parent of my footer) a flexbox  so that I can set the footer margin-top:auto and
    stick the footer at the bottom of the page*/
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(var(--nav-color),var(--body-mid),var(--nav-color));
}




/*-------------------Styling the header-------------- */



#nav_bar ul {
    /* cuts the edges of all ul's border inside nav bar and*/
    border-radius: 5px;
}


#nav_bar>ul li {
    /* all the list elements that are inside of the direct child of the nav-bar container
    are displayed as inline blocks(inline elements thar
     retain block's ability to space from other blocks) */
    display: inline-block;
}



#nav_bar a {
    /* for all anchors in the nav bar it revokes their design
    applies black color and changes font-weight 
    the display:block makes it so that it takes up all its parent's container
    */
    display: block;
    text-decoration: none;
    color: var(--smoky-black);
    font-size: x-large;
    font-weight: 500;
}


#nav_bar a:hover {
    /* hovering over an anchor tag inside of an element that has the 
    nav bar class changes the background color to black and the text-color
    to white. Also the black background will have cut edges */
    background-color: var(--footer-color);
    font-weight: 600;
    color: white;
    border-radius: 10px;
    transition: all 100ms ease;

}

#nav_bar a:active {
    /* when you click on an anchor tag inside an element with the nav_bar
    class the font-size increases to 1.2 times the size it was */
    font-weight: 800;
}




/* drop-down menu */

.sub-menu-1 {
    /* makes the categories menu invisible 
    sets the position to absolute so that it doesn't move other elements
    gives it a bit of padding and color */
    display: none;
    position: absolute;
    padding: 5px;
    background-color: var(--nav-color);

}

.drop-down-1:hover .sub-menu-1 {
    display: block;
}

.sub-menu-2 {
    display: none;
    position: absolute;
    padding: 5px;
    background-color: var(--nav-color);
}

.drop-down-2:hover .sub-menu-2 {
    display: block;
}

/* for the header banner */

@keyframes fadeIn{
    /* Fade in effect for the text */
        0% { opacity: 0; }
        100% { opacity: 1; }
    }

#header_banner{
    background-image: linear-gradient(to right, white,#bcd2e800 );
}

#header_banner img{
    width: 300px;
    height: 225px;
}

#header_banner h2{
    font-family: "Agbalumo";
    font-size: xx-large;
    animation: fadeIn 4s;
}






/* ------------------Styling the logo----------------*/

.logo {
    display: inline-block;
}


.logo img {
    height: 25px;
    width: 25px;
    display: block;
}


.logo>h1,
.logo>h2 {
    color: var(--smoky-black);
    float: left;
}


/* ------------Styling for footer ----------------*/


#main_footer {
    /* changes the background color of the footer + margin-top:auto 
    maximizes the space between the above block and the footer so that the footer always
    sticks at the bottom*/
    background-color: var(--footer-color);
    margin-top: auto;
}

#main_footer a {
    text-decoration: none;
    color: var(--smoky-black);
}

#main_footer address a:hover {
    /* when you hover over the anchor tags of the address 
    element in the footer it gets a bit bolder */
    font-weight: 500;
}

#main_footer address a:active {
    /* if i click an adress element it increases in size for a moment */
    font-size: 1.2em;
}

#news_letter form{
    font-weight: 800;
}

#news_letter form button{
    color: var(--smoky-black);
    font-weight: 800;
    background-color: var(--no-color);
    border: none;
    text-transform: uppercase;
}

#news_letter form button:hover{
    background-color: var(--footer-color);
    transition: 150ms ease;
}

#news_letter form button:active{
    color: var(--article-color);
}

#news_letter form input{
    background-color: var(--footer-color);
    text-align: center;
    border: none;
    border-radius: 10px;
    font-weight: 800;
    color: var(--smoky-black);
}

#news_letter form input:hover{
    background-color: rgba(255, 255, 255, 0.5);
    transition: 150ms ease;
}


#news_letter form input::placeholder{
    background-color: rgba(255, 255, 255, 0.418);
    color: var(--smoky-black);
    opacity: 50%;
}






.footer_img {
    height: 50px;
    width: 50px;
}



/* ----------------------------General Styling ends here----------------------- */




/* ----------------------Styling for Index.html starts here ---------------------- */

.important_text {
    /* used to highlight text */
    color: var(--header-text);
    font-weight: 600;
}

/* Styling for the intro-section */

#intro_section .intro_info li {
    /* can display list elements(paragraph like structure list elements) one next to another
    also gives them color a border radius and all their text is aligned to the center of the 
    list element */
    display: inline-block;
    background-color: var(--article-color);
    border-radius: 30px;
    text-align: center;
}

#intro_section .intro_info h3 {
    display: block;
    color: var(--header-text);
    font-weight: 600;
}

#intro_section .intro_info p {
    min-height: 200px;
    width: 200px;
}




.main_content_design {
    /* The general design of the secondary navigation + the news articles of main content:display: 
    adds a see-through background
    aligns the text at the center of the container
    gives them a specific width and height so that they all look the same */

    background-color: var(--article-color);
    text-align: center;
    border-radius: 30px;
    height: 400px;
    width: 400px;
}

.main_content_design:hover {
    /* gives these elements a nice hover-effect with shadows that transitions-in smoothly*/
    box-shadow: 5px 5px 10px var(--hover-shadow);
    transition: all 100ms ease-in;
}

.main_content_design img {
    /* we need the main-content images to have a specific height width and cut-edges */
    height: 200px;
    width: 200px;
    border-radius: 30px;
}

.main_content_design a {
    /* the anchor tags in the main-content have a nice bluegreen color */
    color: var(--link-color);
}

.main_content_design a:hover {
    font-weight: 500;
}

.main_content_design p {
    font-weight: 100;
}



.index_nav_2 .main_content_design {
    /* I need to override the height and width of the secondary nav elements */
    height: 350px;
    width: 300px;
}



/* ----------------------------Styling for Index.html ends here----------------------- */

/* ----------------------------Styling for Categories.html starts here----------------------- */
#categories-nav>ul>li{
    display: inline-block;
    position: relative;
    height: 250px;
    width: 250px;
    box-sizing: border-box;
    border-radius: 10px;
}

#categories-nav img{
    height: 250px;
    width: 250px;
    position: absolute;
    border-radius: 10px;
    z-index: -1;
    opacity: 50%;
}


#categories-nav>ul>li:hover{
    box-shadow: 5px 5px 10px var(--hover-shadow);
}




#categories-nav .drop-down-categories{
    position: absolute;
    display: none;
}


#categories-nav h2{
    font-size: x-large;
    font-weight: 500;
    position: absolute;
    color: var(--smoky-black);
}


#categories-nav>ul>li:hover .drop-down-categories{
    display: block;
    position: absolute;
    right: 30%;
    bottom: 30%;
}

.drop-down-categories a {
    text-decoration: none;
    color: var(--smoky-black);
    font-weight:600;
    display: block;
}

.drop-down-categories a:hover{
    text-decoration: underline;
}

.drop-down-categories a:active{
    font-weight: 700;
}

.disappear>p{
    position: absolute;
    color: var(--smoky-black);
    font-size:x-large;
    font-weight: 600;
    right: 30%;
    bottom: 50%;
}

#categories-nav>ul>li:hover .disappear>p{ 
    display: none;
}



/* ----------------------------Positioning for index html----------------------- */

/* Styling for contactus.html */

#help_form{
    background-color:#86bef581;
    border-radius: 10px;
    font-weight: 600;
    box-sizing: border-box;
    height: 600px;
    width: 300px;
    text-align: center;
}


#help_form fieldset{
    border: none;
}


#help_form legend{
    font-weight: 800;
    color: var(--smoky-black);
}



#help_form label{
    display: block;
}


#help_form input,#help_form textarea,#help_form button{
   background-color:rgba(255, 255, 255, 0.397);
   height: auto;
   width: 200px;
   border: none;
   border-radius: 5px;
   font-weight: 800;
   padding-left: 5px;
   color: var(--smoky-black);
}


#help_form input::placeholder,#help_form textarea::placeholder{
    color: var(--smoky-black);
    opacity: 50%;
    font-weight: 600;
}

#help_form input:hover{
    background-color: rgba(255, 255, 255, 0.8);
    transition: all 200ms ease-in;
}


#help_form textarea{
}

#help_form button{
    text-transform:uppercase;
    padding: 0;
    width: 80px;
}








/* ----------------------------Styling for house_sales and car_sales html-------------------------- */



main > img{
    width: auto;
    height: 150px;
    display: block;
    margin: auto;
}

#house_ad, #car_sales{
    text-decoration: none;
    color: black;
}

.ad{
    padding-bottom: 50px;
    background-color: rgba(250,250,250,0.408);
    border:1px solid black;
    border-radius: 8px;
    margin-bottom: 10px;
}

.ad img{
    border-radius: 8px; /*makes the shape rounder*/
    width: 350px;
    height: 227px;
    float: left;
}

.ad h2{
    padding: 10px;
}

.ad li{
    padding: 10px;
    display: inline-block; /*makes the list show horizontally*/
}

.ad{
    display: block;
}

.ad:hover{
    box-shadow: 5px 5px 10px  #727070;
}

.ad div > img{
    width: 50px;
    height: 50px;
}

.ad div > h3{
    float: left;
}

/* .floor{
    display: list-item;
    list-style-image: url("floor.png");
}             Check that to make the bullets of the list how you like*/


/* ----------------------------Styling for about_us html---------------------------- */

/* I have still to play with the photos and the descriptions of the team */





#find_arc h2{
    font-size: 35px;
}

#team_arc img{
    float: left;
}

#team_arc h2{
    text-align: center;
    font-size: 35px;
}

#team_arc section{
    clear: left;
}


/* ----------------------------Styling for house_sales_details html---------------------------- */

.house_ad:hover{
    box-shadow: 5px 5px 10px  #727070;
}

.AH-001 > div > img{
    width: 70px;
    height: 60px;
}

.AH-001 > div > h3{
    float: left;
    
}

.ul_basics li{
    padding: 10px;
    display: inline-block; /*makes the list show horizontally*/
}

.AH-001 > section > h3{
    text-decoration: underline;
}

.views img {
    float: left;
}

.AH-001 section{
    clear: both;
}

.AH-001 table{
    table-layout: fixed;
    width: 80%;
    border: 1px solid;
    border-collapse: collapse;
}

.AH-001 tr, th{
    /* border-bottom: 1px solid #ddd; */
    border: 1px solid;
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-weight: normal; /*unblod the words of the table*/
}

.AH-001 tr:nth-child(even) {
    background-color: #f2f2f2;
}

.AH-001 tr:nth-child(odd) {
    background-color: #f2f2f2c5;
}

.AH-001 table > caption{
    text-decoration: underline;
}








